<html>
  <head>
    <title>Dynamically generated content from Puppet</title>
  </head>
  <body>
    <h1>Hello World, Puppet is Fun!</h1>
    <h2>Welcome to <%= @hostname %></h2>
    <p>My IP Address is: <%= @ipaddress %></p>
    <p>My Uptime is <%= @uptime_seconds %> seconds.</p>
  </body>
</html>
